body {
    background-color: black;      /* couleur du062e41 */
}

.top {
    background-image: url("images/pillars.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
    margin-bottom: 6.0%;
}


.final{
    color: black;
    background-color: white;
    padding-left: 1%;
    margin-bottom: 0.5%;
}



.total{
    padding-left: 89%;
    font-size: 30px;
}

.GROUPE{
    padding-left: 80%;
}


.navbar {
font-size: 25px;
}

.navbar-custom {
    background-color: black;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #15678d;
}

.custom-toggler.navbar-toggler {
    border-color:white;
  } 

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.titre {
    color:white;
    text-align: center;
    padding-top: 5.5%;
}

li {
    text-align : center;
    border-bottom : 3px solid black;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}